{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container my-2">
    <h1 class="my-2">Bienvenue sur FC-Tourisme</h1>
    <h2 class="my-2">La référence du tourisme en Franche-Comté !</h2>
    </div>
    <div class="container">
        <img class="d-flex mx-auto" style="height: 20%" src="https://www.cancoillotte.net/local/cache-vignettes/L350xH477/Carte_FC-f0a45.jpg?1577565377" alt="">
    </div>
{% endblock %}
