{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
    <h1>Bienvenue sur FC-Tourisme</h1>
    <h2>La référence du tourisme en Franche-Comté !</h2>
    </div>
{% endblock %}
