{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <body style="color: black; background-attachment: fixed ; background-image: url('https://i.notretemps.com/1400x787/smart/2020/08/10/quiz-connaissez-vous-la-franche-comte.jpeg');background-size: cover;  background-position: center;">
    <main>
    <div>
        <h1  class="my-2 ms-5 d-flex justify-content-start" style="font-size: 400%">Bienvenue sur FC-Tourisme</h1>
        <h3 style="margin-left: 10%" class="my-2  d-flex justify-content-start fst-italic">La référence du tourisme en Franche-Comté !</h3>
    </div></main></body>
{% endblock %}
